<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>      
      <service behaviorConfiguration="mexServiceBehavior" name="BarIn.Service">
        <endpoint address="comp" binding="wsDualHttpBinding" contract="BarIn.IReciver"/>
        <endpoint address="scan" binding="wsDualHttpBinding" contract="BarIn.IPostman"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
