<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPostman" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IReciver" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cr-syusim.corp.aoreestr.ru/BarIn/Service.svc/comp"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IReciver"
                contract="WebRef.IReciver" name="WSDualHttpBinding_IReciver">
                <identity>
                    <servicePrincipalName value="host/CR-SYusim.corp.aoreestr.ru" />
                </identity>
            </endpoint>
            <endpoint address="http://cr-syusim.corp.aoreestr.ru/BarIn/Service.svc/scan"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPostman"
                contract="WebRef.IPostman" name="BasicHttpBinding_IPostman" />
        </client>
    </system.serviceModel>
</configuration>