<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IReciver"/>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint
        address="http://reportsrv2:81/bar/Service.svc/comp"
        binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IReciver"
        contract="BarIn.IReciver"
        name="WSDualHttpBinding_IReciver">
      </endpoint>     
    </client>
  </system.serviceModel>
</configuration>